In [1]:
import os
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim

In [2]:
pd.read_csv("review_data/duplicated_df.csv")

Empty DataFrame
Columns: [Unnamed: 0, unit_num, street, city, prov, district, latitude, longitude, sold_date, dom, sold_price, listing_price, beds, baths, size, mls, brokerage, listing_date, street_num, app_num, full_address]
Index: []

[0 rows x 21 columns]